<div class="col-md-12">
    <div class="card card-container">
<!--        <img-->
<!--                id="profile-img"-->
<!--                src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"-->
<!--                class="profile-img-card"-->
<!--        />-->
        <form
                *ngIf="!isLoggedIn"
                id="form"
                name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate
        >
            <div class="form-group">
                <label for="eposta">Eposta</label>
                <input
                        type="text"
                        class="form-control"
                        id="eposta"
                        [(ngModel)]="form.eposta"
                        required
                        #eposta="ngModel"
                />
                <div
                        class="alert alert-danger"
                        role="alert"
                        *ngIf="eposta.errors && f.submitted"
                >
                    Eposta gereklidir.!
                </div>
            </div>
            <div class="form-group">
                <label for="sifre">Şifre</label>
                <input
                        type="password"
                        class="form-control"
                        id="sifre"
                        [(ngModel)]="form.sifre"
                        required
                        minlength="4"
                        #sifre="ngModel"
                />
                <div
                        class="alert alert-danger"
                        role="alert"
                        *ngIf="sifre.errors && f.submitted"
                >
<!--                    <div *ngIf="sifre.errors.required">Şifre gereklidir</div>-->
<!--                    <div *ngIf="sifre.errors.minlength">-->
<!--                        Şire en az 4 karakter olmalıdır.-->
<!--                    </div>-->
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">
                    Giriş
                </button>
            </div>
            <div class="form-group">
                <div
                        class="alert alert-danger"
                        role="alert"
                        *ngIf="f.submitted && isLoginFailed"
                >
                    Login failed: {{ errorMesaj }}
                </div>
            </div>
        </form>
    </div>
</div>