<h2>Kayıtlı Hissedarlar</h2>
<app-hissedar-ara></app-hissedar-ara>

<button routerLink="/hissedar-ekle" mat-raised-button color="primary">Hissedar Ekle</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="adSoyad">
        <th mat-header-cell *matHeaderCellDef> Ad - Soyad </th>
        <td mat-cell *matCellDef="let element"> {{element.adSoyad}} </td>
    </ng-container>

    <ng-container matColumnDef="tel">
        <th mat-header-cell *matHeaderCellDef> Telefon No </th>
        <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
    </ng-container>

    <ng-container matColumnDef="islemler">
        <th mat-header-cell *matHeaderCellDef> İşlemler </th>
        <td mat-cell *matCellDef="let element">
            <button mat-mini-fab color="accent" aria-label="Edit icon">
                <a routerLink="/hissedarlar/{{element.id}}"><mat-icon>edit</mat-icon></a>
            </button>
            <button (click)="delete(element)" mat-mini-fab color="warn" aria-label="Delete icon">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>