<h2>Kurban Bilgi</h2>
<h3>Kurban Küpe No: {{kurban.kupeNo | uppercase}}</h3>
<div *ngIf="kurban">
    <table>
        <tr>
            <td>
                <img src="{{kurban.resimUrl}}" width="810" height="458" alt="Kurban Foto"/>
                <br>
                <mat-form-field>
                    <mat-label>Resim URL</mat-label>
                    <input value="{{kurban.resimUrl}}" #resimUrl matInput placeholder="">
                </mat-form-field>
                <br>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Cinsi</mat-label>
                    <mat-select value="{{kurban.cins}}" #cins (selectionChange)="onCinsChange($event)">
                        <mat-option *ngFor="let cins of cinsler" [value]="cins">
                            {{cins}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>

                <mat-form-field appearance="fill">
                    <mat-label>Künyesi</mat-label>
                    <mat-select value="{{kurban.kunye}}" #kunye>
                        <mat-option *ngFor="let kunye of kunyeler" [value]="kunye">
                            {{kunye}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>

                <mat-form-field>
                    <mat-label>Kilosu (kg)</mat-label>
                    <input value="{{kurban.kilo}}" #kilo matInput placeholder="">
                </mat-form-field>
                <br>

                <mat-form-field>
                    <mat-label>Yaşı (ay)</mat-label>
                    <input value="{{kurban.yas}}" #yas matInput placeholder="">
                </mat-form-field>
                <br>

                <mat-form-field>
                    <mat-label>Fiyatı (TL)</mat-label>
                    <input value="{{kurban.fiyat}}" #fiyat matInput placeholder="">
                </mat-form-field>
                <br>

                <mat-form-field>
                    <mat-label>Durumu</mat-label>
                    <input value="{{kurban.durum}}" disabled #durum matInput>
                </mat-form-field>
                <br>

                <button mat-raised-button color="primary">
                    Kaydet
                </button>
            </td>
            <td>
                <table border="1">
                    <tr>
                        <td>
                            Kesim Sırası:
                        </td>
                    </tr>
                    <tr>
                        <td>
                            1
                        </td>
                    </tr>

                </table>
                <button mat-raised-button color="primary">
                    <mat-icon>device_hub</mat-icon>
                    Kesildi
                </button>
                <button mat-raised-button color="primary">
                    <mat-icon>close</mat-icon>
                    Telef
                </button>
            </td>
        </tr>
    </table>
</div>


<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->