<h2>Kurban Bilgi</h2>

<div *ngIf="kurban">
  <h3>{{kurban.kupeNo | uppercase}} Küpe Nolu Hayvanın Bilgileri</h3>
  <div>

    <img src="/assets/images/kurban.jpg" alt="Kurban Foto"/>

    <label for="cins">Cinsi: </label>
    <input id="cins" [(ngModel)]="kurban.cins" placeholder="Cins"/>

    <label for="kunye">Künyesi: </label>
    <input id="kunye" [(ngModel)]="kurban.kunye" placeholder="Künye"/>

    <label for="kupeNo">Küpe Nosu: </label>
    <input id="kupeNo" [(ngModel)]="kurban.kupeNo" placeholder="Küpe No"/>

    <label for="yas">Yaşı: </label>
    <input id="yas" [(ngModel)]="kurban.yas" placeholder="Yaş"/>

    <label for="fiyat">Fiyatı: </label>
    <input id="fiyat" [(ngModel)]="kurban.fiyat" placeholder="Fiyat"/>

    <label for="kilo">Kilosu: </label>
    <input id="kilo" [(ngModel)]="kurban.kilo" placeholder="Kilo"/>

    <button mat-raised-button color="primary">Kesildi</button>
    <button mat-raised-button color="primary">Telef</button>

  </div>
  <button type="button" (click)="goBack()">Geri Dön</button>
  <button type="button" (click)="save()">Kaydet</button>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->