<h2>Kayıtlı Kurbanlar</h2>

<app-kurban-ara></app-kurban-ara>

<button routerLink="/kurban-ekle" mat-raised-button color="primary">Kurban Ekle</button>

<mat-radio-group aria-label="Select an option">
  <mat-radio-button value="1" [checked]="true">Tümü</mat-radio-button>
  <mat-radio-button value="2">Küçükbaş</mat-radio-button>
  <mat-radio-button value="3">Büyükbaş</mat-radio-button>
</mat-radio-group>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="kesimSira">
    <th mat-header-cell *matHeaderCellDef> K.Sıra </th>
    <td mat-cell *matCellDef="let element">1</td>
  </ng-container>

  <ng-container matColumnDef="kupeNo">
    <th mat-header-cell *matHeaderCellDef> Küpe No </th>
    <td mat-cell *matCellDef="let element"> {{element.kupeNo}} </td>
  </ng-container>

  <ng-container matColumnDef="cins">
    <th mat-header-cell *matHeaderCellDef> Cinsi </th>
    <td mat-cell *matCellDef="let element"> {{element.cins}} </td>
  </ng-container>

  <ng-container matColumnDef="kunye">
    <th mat-header-cell *matHeaderCellDef> Künyesi </th>
    <td mat-cell *matCellDef="let element"> {{element.kunye}} </td>
  </ng-container>

  <ng-container matColumnDef="kilo">
    <th mat-header-cell *matHeaderCellDef> Kilosu </th>
    <td mat-cell *matCellDef="let element"> {{element.kilo}} </td>
  </ng-container>

  <ng-container matColumnDef="yas">
    <th mat-header-cell *matHeaderCellDef> Yaşı </th>
    <td mat-cell *matCellDef="let element"> {{element.yas}} </td>
  </ng-container>

  <ng-container matColumnDef="fiyat">
    <th mat-header-cell *matHeaderCellDef> Fiyatı </th>
    <td mat-cell *matCellDef="let element"> {{element.fiyat}} </td>
  </ng-container>

  <ng-container matColumnDef="durum">
    <th mat-header-cell *matHeaderCellDef> Durumu </th>
    <td mat-cell *matCellDef="let element"> {{element.durum}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<ul class="kurbanlar">
  <li *ngFor="let kurban of kurbanlar">
    <a routerLink="/kurbanlar/{{kurban.id}}">
      <span class="badge">{{kurban.id}}</span> {{kurban.name}}
    </a>
    <button type="button" class="delete" title="delete kurban"
      (click)="delete(kurban)">x</button>
  </li>
</ul>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->