<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <span class="example-spacer">
    <nav>
      <button *ngIf="!isAuthenticated" mat-raised-button routerLink="/giris">Giris</button>
      <button *ngIf="isAuthenticated" mat-raised-button routerLink="/anasayfa">Anasayfa</button>
      <button *ngIf="isAuthenticated" mat-raised-button routerLink="/kurbanlar">Kurbanlar</button>
      <button *ngIf="isAuthenticated" mat-raised-button routerLink="/hissedarlar">Hissedarlar</button>
      <button *ngIf="isAuthenticated" (click)="cikis()" mat-raised-button><mat-icon>exit_to_app</mat-icon>Çıkış</button>
  </nav>
  </span>
    <!--  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
    <!--    <mat-icon>favorite</mat-icon>-->
    <!--  </button>-->
    <!--  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">-->
    <!--    <mat-icon>share</mat-icon>-->
    <!--  </button>-->

</mat-toolbar>

<router-outlet></router-outlet>

<app-loglar></app-loglar>

<div class="footer" #footer>
    ©2022 e-Kurban
</div>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->