<h2>My Kurbanlar</h2>

<div>
  <label for="new-kurban">Kurban name: </label>
  <input id="new-kurban" #kurbanName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(kurbanName.value); kurbanName.value=''">
    Add kurban
  </button>
</div>

<ul class="kurbanlar">
  <li *ngFor="let kurban of kurbanlar">
    <a routerLink="/kurban-bilgi/{{kurban.id}}">
      <span class="badge">{{kurban.id}}</span> {{kurban.name}}
    </a>
    <button type="button" class="delete" title="delete kurban"
      (click)="delete(kurban)">x</button>
  </li>
</ul>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->