<h2>Kurban Takip Programına Hoşgeldiniz.</h2>
<h3>Kurban bayramına kalan gün sayısı: 1</h3>
<button routerLink="/kurban-ekle" mat-raised-button color="primary">Kurban Ekle</button>
<div class="kurban-sayfasi">
    Müsait Kurbanlar:
    <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1" [checked]="true">Tümü</mat-radio-button>
        <mat-radio-button value="2">Küçükbaş</mat-radio-button>
        <mat-radio-button value="3">Büyükbaş</mat-radio-button>
    </mat-radio-group>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <ng-container matColumnDef="kesimSira">
              <th mat-header-cell *matHeaderCellDef> K.Sıra </th>
              <td mat-cell *matCellDef="let element"> 1 </td>
          </ng-container>

          <ng-container matColumnDef="cins">
              <th mat-header-cell *matHeaderCellDef> Cinsi </th>
              <td mat-cell *matCellDef="let element"> <a routerLink="/kurbanlar/{{element.id}}">{{element.cins}}</a> </td>
          </ng-container>

          <ng-container matColumnDef="kunye">
              <th mat-header-cell *matHeaderCellDef> Künyesi </th>
              <td mat-cell *matCellDef="let element"> {{element.kunye}} </td>
          </ng-container>

          <ng-container matColumnDef="fiyat">
              <th mat-header-cell *matHeaderCellDef> Fiyatı </th>
              <td mat-cell *matCellDef="let element"> {{element.fiyat}} </td>
          </ng-container>

          <ng-container matColumnDef="kalanHisse">
              <th mat-header-cell *matHeaderCellDef> Kalan Hisse </th>
              <td mat-cell *matCellDef="let element"> {{element.kalanHisse}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>




<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->